

*::-webkit-scrollbar {
  width: 0;
}

.inp::placeholder {
  color: #CACEDC !important;
}

.vald {
  border: 1px solid red !important;
  filter: drop-shadow(5px 5px 5px red) !important;
}



.option[value=""][disabled] {
  display: none;
}


@media(max-width: 820px){
  .math{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link{
    padding-top: 20px;
  }
}
@media(max-width: 768px){
  .link{
    padding-top: 0px;
  }
}
@media(max-width: 912px){
  .math{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 1024px){
  .math{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button{
  background: #e0f2fe;
  color: #178dcc;
  padding: 6px 14px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
}

.select{
  width: 100%;
  border: 1px solid #D0D5DD;
  outline: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 15px;
}

 
.select1{
  height: 120px;
}
