

*::-webkit-scrollbar {
  width: 0;
}

.inp::placeholder {
  color: #CACEDC !important;
}


@media(max-width: 820px){
  .math{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link{
    padding-top: 20px;
  }
}
@media(max-width: 768px){
  .link{
    padding-top: 0px;
  }
}
@media(max-width: 912px){
  .math{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 1024px){
  .math{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}